body {
    background: $light-gray;
    font-family: Arial, sans-serif;
}

section.definitions {
    margin-bottom: 80px;
}

.project-title {
}

.definition-title {
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-family: $headline;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: $dark-gray;
    border-bottom: 1px solid $dark-gray;
}

.project-timestamp {
    display: flex;
    margin-bottom: 80px;
    font-family: $italic;
    font-size: 0.8rem;
    font-style: italic;
    color: $mid-gray;

    dt,
    dd {
        margin-right: 10px;
    }

    dt {
        text-transform: uppercase;
        font-weight: bold;
    }
}