html {
    font-size: 16px;
}

body {
    background: #ddd;
    font-family: $body;
}

section.definitions {
    margin-bottom: 6rem;
}

.project {
    display: flex;

    &-info {
        flex-grow: 1;
        margin: 2rem 1rem;
    }
    &-content {
        padding: 2rem;
        background: $light-gray;
    }
}

.project-title {
}

.definition-title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-family: $headline;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: $dark-gray;
    border-bottom: 1px solid $dark-gray;
}

.project-timestamp {
    display: flex;
    margin-bottom: 80px;
    font-family: $body-serif;
    font-size: 0.8rem;
    font-style: italic;
    color: $mid-gray;

    dt,
    dd {
        margin-right: 10px;
    }

    dt {
        text-transform: uppercase;
        font-weight: bold;
    }
}