/* Colors */

$dark-gray: #333333;
$mid-gray: #999;
$light-gray: #e6e6e6;
$orange: green;

/* Fonts */

$headline: "montserrat", sans-serif;
$body-serif: georgia, garamond, serif;
$body: Arial, sans-serif;