.definitions--notes {
    textarea {
        padding: 10px;
        width: 50%;
        min-height: 100px;
    }

    .project-notes {
        width: 100%;
        max-width: 700px;
        line-height: 1.6;
    }
}