@import './navigation';
@import './sections/colors';
@import './sections/images';
@import './sections/notes';
@import './sections/title';
@import './sections/typography';

/* ------------------------ *\
 *  Time Stamp
 * ------------------------ */

.project-timestamp {
    display: flex;
    margin-bottom: 80px;
    font-size: 0.8rem;
    font-style: italic;
    color: $mid-gray;

    dt,
    dd {
        margin-right: 10px;
    }

    dt {
        text-transform: uppercase;
        font-weight: bold;
    }
}


/* ------------------------ *\
 *  Project
 * ------------------------ */

.project {
    &-view {
        .project-title {

            form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 800px;
            }

            input {
                margin-left: 0;
                margin-right: 0;
            }

            .button {
                font-size: 1rem;

                + .button {
                    margin-left: 15px;
                }
            }
        }
    }
}

.definition-title {
    margin-bottom: 1rem;
}
