.project-colors {
    display: flex;
    flex-wrap: wrap;
}

.col.color {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;

    @media (min-width: 480px) {
        width: 50%;
    }

    @media (min-width: 768px) {
        width: 33.3333%;
    }

    @media (min-width: 960px) {
        width: 20%;
    }
}

.color--new {
    .color__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            svg {
                color: #666;
            }
        }
    }

    .fa-times-circle {
        transition: color 0.3s;
        transform: rotate(45deg);
        color: #ddd;
    }
}

.color--preview svg {
    transition: opacity 0.2s;
    position: absolute;
    bottom: 6px;
    right: 6px;
    cursor: pointer;

    &:hover {
        opacity: 0.25;
    }
}

.color--preview.editing {
    .color__inner {
        padding-bottom: 20px;
    }
}

.color__inner {
    position: relative;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #ccc;
    background: #fff;
    height: 100%;
}

.color-swatch {
    height: 40px;
    width: 100%;
}

.color-data {
    padding: 1rem;
    line-height: 1.6;
}

.color-rgb,
.color-name,
.color-hex {
    text-align: center;
    font-family: monospace;
    color: $dark-gray;
}

.color--preview.preview {

    .color-name {
        margin-bottom: 1em;
        //font-family: $headline;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: $dark-gray;
    }
}

/* ---------------------------------------- *\
                    PREVIEW
 * ---------------------------------------- */
.definitions--colors.preview {

    .color {
        padding-bottom: 15px;

        + .color {
            padding-top: 15px;
            border-top: 1px solid #ccc;
        }
    }

    .color__inner {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        box-shadow: none;
    }

    .color-data {
        &--swatch {
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 20px;
        }

        &--name,
        &--hex,
        &--var {
        }

        &--name {
            flex: 0 1 200px;
        }
        &--hex {
            flex: 0 0 100px;
            font-family: monospace;
        }
        &--var {
            font-family: monospace;
        }

        &.edit {
            .color-swatch {
                background: #fff;
                border: 1px solid #ccc;
                text-align: center;
                line-height: 40px;
            }
            svg {
                display: inline-block;
                position: static;
            }
        }
    }
}
