.col--image {
    margin-bottom: 30px;

    &.col {
        width: 50%;
    }

    .image {
        position: relative;
        border: 1px solid #ccc;
        background: #fff;

        &--edit {
            padding: 10px 20px 10px 60px;
            max-width: 800px;
        }

        &--new,
        &--preview {
            padding: 20px;
            width: 100%;
            height: 100%;
        }

        h3 {
            margin-bottom: 15px;
            font-size: 22px;
            text-transform: uppercase;
            color: $dark-gray;
        }

        &__dimensions {
            //font-family: $body-serif;
            //font-style: italic;
            color: $mid-gray;
        }

        input {
            display: block;
            width: 100%;

            + input {
                margin-top: 10px;
            }

            &.full {
                width: 100%;
            }

            &.half {
                width: 50%;
            }
        }

        > svg {
            position: absolute;
            top: calc(50% - 10px);
            left: 20px;
            cursor: move;
        }

        &--new {
            text-align: center;

            svg {
                left: auto;
                transform: rotate(45deg);
                cursor: pointer;
            }
        }

    }
}

.form-row {
    display: flex;

    &:last-of-type .form-element {
        border-bottom: none;
    }

    &--actions {
        justify-content: flex-end;

        svg {
            margin: 10px;
            cursor: pointer;
        }
    }
}

.form-element {
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 55px;

    &--full {
        width: 100%;
    }

    &--half {
        width: 50%;

        + .form-element--half {
            border-left: 1px solid #ccc;
        }
    }

    label {
        transition: top 0.2s, font-size 0.2s, color 0.2s;
        position: absolute;
        padding: 0;
        top: 27px;
        left: 10px;
        //font-family: $headline;
        font-size: 16px;
        z-index: 1;
        color: $mid-gray;
        pointer-events: none;
    }

    input {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        border: none;
        outline: 0;
        font-size: 16px;
        padding: 15px 4px 10px 10px;

        &:focus + label {
        }
    }

    &.focus label,
    input:focus + label {
        top: 10px;
        font-size: 12px;
        color: $mid-gray;
    }
}
