.definitions--notes {

    textarea {
        margin: -5px -5px;
        padding: 4px;
        background: rgba(255,255,255,0.25);
        border: 1px solid transparent;
        outline: none;
        min-height: 40px;
        resize: none;
    }

    textarea,
    .project-notes {
        width: 100%;
        max-width: 800px;
        line-height: 1.4;
        //font-family: $body;
        font-size: 1rem;
        color: $dark-gray;
    }
}