@import '../../../../../../node_modules/react-tabs/style/react-tabs';

.definition--font-families {
    margin: 3rem 0;
    padding: 1.2rem 1rem 1.6rem 1rem;
    border: 1px solid #bbb;
    border-radius: 4px;
    background: #eee;
}

.project-fonts {
    .font-source {
        width: 33.3333%;

        > span {
            margin-bottom: 1rem;
            text-transform: uppercase;
            color: $dark-gray;
            font-size: .875rem;
            font-weight: bold;
        }

        ul {
            margin-left: 8px;

            li {
                margin-bottom: 0.8rem;
                //font-family: $body-serif;
                //font-style: italic;
                color: $mid-gray;

                &:before {
                    display: inline-block;
                    content: '-';
                    margin-right: 4px;
                }
            }
        }
    }
}

.typography-definition {
    margin-bottom: 3rem;

    .type {
        padding: 1rem;
        background: #fff;
    }

    h3 {
        //font-family: $headline;
        font-weight: 400;
        margin-bottom: 15px;
        font-size: 22px;
        text-transform: uppercase;
        color: #333333;
    }
}

.custom-option {
    > span {
        position: relative;
        top: 2px;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 10px;
        box-shadow: 0 0 0 2px #fff;
    }
}

.defs--global {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    h4 {
        flex-grow: 1;
        width: 100%;
        margin-bottom: 1rem;
    }

    .def {
        width: 50%;

        &--font-family {
            padding-right: 15px;
        }

        &--font-color {
            padding-left: 15px;
        }
    }
}