@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import 'partials/reset';
@import 'partials/select2';

// Global
@import 'partials/global/variables';
@import 'partials/global/mixins';
@import 'partials/global/grid';
@import 'partials/global/base-app-styles';
@import 'partials/global/app-typography';
@import 'partials/global/header';

// Projects View
@import 'partials/projects/list';

// Project View
@import 'partials/project/title-section';
@import 'partials/project/notes-section';
@import 'partials/project/color-section';
@import 'partials/project/image-section';
@import 'partials/project/typography-section';
